.navbar-wrapper {
    width: 100%;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    z-index: 100;

    .main-wrapper {
        line-height: 50px;
        background: rgba(255, 255, 255, .9);
        padding: 0 15px;
    }

    .static-links {
        height: 50px;
    }

    .home-link {
        display: block;
        float: left;
        height: 100%;
    }

    .burger-link {
        height: 50px;
        width: 50px;
        background: url('/static/images/navbar/burger.png') center center no-repeat;
        background-size: 40px 40px;
        transition: all 1s;
        float: right;

        &:hover {
            cursor: pointer;
        }
    }

    .links {
        display: block;
        float: none;
        max-height: 0;
        overflow: hidden;
        transition: all 1s ease-in-out;

        &.expanded {
            max-height: 300px;
        }
    }

    .fade {
         flex-grow: 1;
    }

    .fade-left {
        background: linear-gradient(to left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, .65) 100%);
    }

    .fade-right {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, .65) 100%);
    }

    .logo {
        height: 34px;
        margin-top: 8px;
        margin-right: 24px;
    }

    .link {
        display: block;
        font-size: 14px;
        text-align: center;
        border-top: 1px dashed rgba(0, 0, 0, .15);

        a {
            text-decoration: none;
            color: #000;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background: #000;
                visibility: hidden;
                border-radius: 5px;
                transform: scaleX(0);
                transition: .2s linear;
            }

            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}


@media all and (min-width: 960px) {
    .navbar-wrapper {
        position: fixed;
        top: 0;
        left: 0;

        .main-wrapper {
            padding: 0;
        }

        .static-links {
            display: inline-block;
            float: left;
        }

        .burger-link {
            display: none;
        }

        .links {
            max-height: 50px;
            height: 50px;
            float: left;
            transition: none;
        }

        .link {
            display: inline-block;
            border-top: none;

            &:after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 19px;
                background: rgba(0, 0, 0, .15);
                margin: 0 10px;
                position: relative;
                top: 4px;
            }

            &:last-of-type:after {
                display: none;
            }
        }
    }
}