@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext');


html {
    background: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    padding-top: 50px;
}

.main-wrapper {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

.page-content-wrapper {
    margin-top: 200px;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}